body{
  background-image: url(/img/motorista-img.png) ;
  background-size: 100%;
  font-family: 'Roboto', sans-serif;

}

#TXT{
  border: black 1px solid ;
  background-color: rgb(220,220,255);
  padding: 1%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  border-radius: 10px;
  text-align: center;
}

#image{
  margin-left: 30%;
}

a{
  color: blue;
  text-decoration: unset;
}


#Redesocial{
  display: flex;
  flex-direction: row ;
  justify-content: center;
  margin-top: 50px;
 
  
}

#Redesocial img {
  width: 40px;
  height: 40px;
  padding: 0 10px;
}