@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.background-img {
  height: 40vh;
  width: 100vw;
  background-image: url('/img/motorista-img.png');
  background-size: cover;

}

.grupo-text-header {
  width: 65%;
  padding-left: 25px;

}

#text-1 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 22px;
  margin-bottom: 30px;
}

#text-2 {
  font-size: 0.8rem;
  line-height: 15px;
}

nav {
  text-align: center;
}
.logo-nav{
  width: 60vw;
  padding: 20px 0;
  
}
.header {
  color: white;
}

.formulario {
  background-color: #F2F2F2;
  margin: 30px;
  padding: 20px;
  
}
.formulario h2 {

  font-family: 'Comfortaa';
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
  
}

.btn {
  background: #FF6600;
  border-radius: 6px;
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: white;
  height: 52px;
  width: 100%;
  margin-top: 1em;
}

.btn:hover{
  border: 2px solid rgb(101, 45, 7);
}

.txt-p-bottom {
  font-weight: 900;
  font-size: 30px;
}

#text-1 {

  font-size: 1.5rem;
  text-align: left;
  line-height: 30px;
}

#text-2 {
  font-size: 1rem;
  line-height: 20px;

}

.cards-small {

  font-family: 'Comfortaa';
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 15px;
}

.card-img {
  width:30%;
}

.card-space {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
}

.card-text {
  font-weight: bold;
  font-size:  1rem;
}

.footer {
  padding-top: 100px;
  
}

.redes-sociais img {
  width: 50px;
  padding: 0 10px;
}
.redes-sociais li {
  display: inline;
  list-style: none;
  text-decoration: none;
}



@media (max-width: 590px) {

  .grupo-text-header {
    width: 80%;
    padding-left: 25px;
  
  }
  
  #text-1 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 22px;
    margin-bottom: 30px;
  }
  
  #text-2 {
    font-size: 0.8rem;
    line-height: 15px;
  }

}



@media (min-width: 789px) and (max-width: 957.98px) {
  .logo-nav {
    width: 40vw;
  }

  .background-img {
    height: 60vh;
    width: 100vw;
  }

  .grupo-text-header {
    width: 50%;
    padding-left: 35px;
  }

  #text-1 {

    font-size: 2rem;
    line-height: 30px;
  }
  
  #text-2 {
    margin-top: 70px;
    font-size: 1.5rem;
    line-height: 25px;
  
  }


  .formulario {
    position: relative;
    float: right;
    bottom: 400px;
    width: 40%;
    z-index: 1;
  }

  .cards-small {
    background-color:white;
    position: relative;
    left: 40px;
    bottom: 80px;
    padding-left: 30px;
    padding-top: 30px;
    
  }

  .row {
  
    padding-top: 70px;
    position: relative;
    right: 90px;
  }

  .card-space {

    width: 100%;
    position: relative;
    left: 40px;
  }

  .card-img {
    width: 80px;
  }


}



@media (min-width: 958px) {

  .logo-nav {
    width: 30vw;
  }

  .grupo-text-header {
    width: 50%;
    padding-left: 35px;
    margin-left: 30px;
  }

  #text-1 {

    font-size: 2.5rem;
    text-align: left;
    line-height: 45px;
  }
  
  #text-2 {
    margin-top: 70px;
    font-size: 1.5rem;
    line-height: 25px;
  
  }

  .formulario {
    position: relative;
    float: right;
    bottom: 450px;
    width: 30%;
    z-index: 1;
  }

  .background-img {
    height: 60vh;
    width: 100%;
  }

  .cards-small {
    background-color:white;
    position: relative;
    left: 40px;
    bottom: 80px;
    padding-left: 30px;
    padding-top: 30px;
    
  }

  .card-space {
    position: relative;
  }

  .card-img {
    width: 80px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;

}

.footer {
  width: 100%;
  float: left;
}


}
